*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.container{
    max-width: 1220px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
}

@font-face {
    font-family: Poppins regular;
    src: url(../fonts/Poppins-Regular.ttf);
    font-size: 16px;
    font-weight: 500;
}

.header{
    background: url(../img/Slider.jpg) no-repeat center center / cover;
    height: 100vh;
    &__wrap{
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__img{
        background-color: #F5F6F7;
        padding: 10px 20xp;
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }
    &__sub-img{
        position: relative;
        top: 8px;
        left: 11px;
    }
    &__text-block{
        margin-top: 200px;
        width: 600px;
    }
    &__title{
        font-size: 60px;
        font-weight: 700;
        color: white;
    }
    &__text{
        font-size: 16px;
        font-weight: 400;
        color: white;
    }
}

.main{
    &__wrap{
        margin-top: 100px;
    }
    &__title{
        font-size: 36px;
        color: #4D533C;
        width: 600px;
    }
    
    &__blocks{
    margin-top: 50px;
    display: flex;
        justify-content: space-between;
    }
    &__block{
        width: 255px;
        
    }
    &__text-block{
        color: #21384299;
        font-size: 14px;
        margin-bottom: 30px;
        width: 200px;
    }
    &__sub-title{
        font-size: 24px;
        color: #4D533C;
        width: 170px;
        margin-bottom: 30px;
    }
    &__btn{
        color: #D4D6D4;
    }
    &__btn-yel{
        color: #FFD723;
    }
}
.footer{
    margin-top: 150px;
    background-color: #FAFAFA;
    height: 55vh;

    &__title{
        font-size: 60px;
        color: #4D533C;
        font-weight: 700;
        padding-top: 70px;
        width: 700px;
    }
    &__sub-text{
        font-size: 16px;
        color: #D4D6D4;
        position: relative;
        top: 50px;
        
    }
    &__services{
        stra
    }
}